{% extends "lizard_ui/lizardbase.html" %}

{% block css %}
{{ block.super }}
  {# CSS for forms #}
  <link rel="stylesheet"
        href="{{ STATIC_URL }}bowa/form.css"
        type="text/css"
        media="screen, projection" />
{% endblock css %}

{% block sidebar %}

	{% block menu %}
	Downloads
	<ul>
	  <li>
		<a href="{{ STATIC_URL }}bowa/data/grondgebruik.zip">Voorbeeld grondgebruik kaart (zip).</a>
	  </li>
	  <li>
		<a href="{{ STATIC_URL }}bowa/data/koppeling.zip">Voorbeeld Excel koppeling (zip).</a>
	  </li>
	  <li>
		<a href="{{ STATIC_URL }}bowa/data/foutenmatrix.zip">Voorbeeld foutenmatrix (zip).</a>
	  </li>
	</ul>
	Help
	<ul>
	  <li>
		<a href="{{ STATIC_URL }}bowa/help/gebruikers handleiding.pdf" target="_blank">Gebruikershandleiding</a>
	  </li>
	  <li>
		<a href="{{ STATIC_URL }}bowa/help/invoer.pdf" target="_blank">Invoer</a>
	  </li>
	  <li>
		<a href="{{ STATIC_URL }}bowa/help/uitvoer.pdf" target="_blank">Uitvoer resultaten</a>
	  </li>
	</ul>
	{% endblock menu %}
  <div>
    <img src="{{ STATIC_URL }}bowa/bowa.png" style="margin-top: 10px;width: 60px;">
  </div>
  <div>
    {{ view.version }}
  </div>
  <div>
    Voor vragen en/of opmerkingen kunt u ons mailen: <a href="mailto:helpdesk@hkv.nl?subject=Bowa">helpdesk@hkv.nl</a>
  </div>
{% endblock %}

{% block content %}
<div class="container">
<form action="{% url bowa_homepage %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    {% for field in view.scenario_form %}
<div class="row">
  {% if field.errors %}
  <ul class="errorlist">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}
  <div class="span4">
    <div class="help_tooltip{% if field.help_text %} ss_sprite ss_help{% endif %}" title="{{ field.help_text }}">&nbsp;</div>
    {{ field.label_tag }}
  </div>
  {{ field }}
</div>
{% endfor %}


<input class="btn btn-primary" type="submit" value="Versturen"/>

</form>

</div>
{% endblock %}
