
/* Make radio buttons apear on one line without list marker */
form ul {
    list-style-type:none;
}

form input[type=radio] {
    display:inline
}

form label input[type=radio]{
    margin-left: 1em;
}

.errorlist {
    color: #ff0000;
}

.help_tooltip {
    width: 1.5em;
    display: block;
    float: left;
    padding-left: 0px;
    margin-top: 5px;
}

.container {
    padding-left: 10px;
    padding-top: 10px;
}
